.footer {
  height: 315px;
  background-color: #000;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    height: 322px;
  }
  @media (min-width: 1200px) {
    height: 355px;
  }

  &__inner {
    text-align: center;
    margin-top: 38px;
    max-width: 303px;
    @media (min-width: 768px) {
      margin-top: 57px;
      max-width: 684px;
    }
    @media (min-width: 1200px) {
      margin-top: 66px;
    }
  }

  &__title {
    color: #FEFEFE;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    color: $footer-color;
    margin-top: 8px;
    margin-bottom: 26px;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__text--addition {
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }

  &__social--image{
    width: 34px;
    height: 34px;
  }

  &__address {
    max-width: 210px;
    font-size: 14px;
    line-height: 24px;
    color: $footer-color;
    margin: 25px auto 0;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 26px;
      max-width: 684px;
    }
  }
}

