body {
  min-width: 320px;
  overflow-x: hidden;
  @extend %roboto-400;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %roboto-700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}