.header {
  width: 100vw;
  height: 100%;

  &__img--inner{
    min-width: 320px;
    padding-top: 83px;
    @media (min-width: 768px){
      padding: 0;
    }
    @media (min-width: 1200px){
      max-width: 1170px;
      margin: 0 auto;
    }
  }
  &__img{
    width: 100%;
    height: 150px;
    background-image: url("../img/header_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 768px){
      height: 361px;
    }
    @media (min-width: 1200px){
      height: 550px;
    }
  }
}

.menu {
  position: relative;

  &__list {
    width: 182px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    transition: all 0.5s;
    height: 0;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 100%;
      height: 55px;
      flex-direction: row;
      gap: 34px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      position: static;
      margin-top: 23px;
      margin-bottom: 28px;
      overflow: visible;
    }
    @media (min-width: 1200px) {
      gap: 68px;
      margin-top: 29px;
      margin-bottom: 34px;
    }
  }

  &__item {
    padding: 4px 0 4px 12px;
    color: $title-color;
    transition: all 0.5s;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: 0;
    }

    &:hover {
      background-color: #E5E5E5;

      @media (min-width: 768px) {
        background-color: transparent;
        color: #57A4A4;
      }
    }
  }

  &__link {
    color: inherit;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    width: 100%;

    &:focus {
      color: #57A4A4;
    }
  }

  &__burger {
    margin-top: 23px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.burger {
  width: 44px;
  height: 37px;
  background-color: #000;
  position: absolute;
  right: 0;
  border: none;

  &__icon {
    margin-left: -6px;
  }

  &__line {
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__line--line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  &__line--line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  &__line--line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
}

.open.menu .burger {
  &__line--line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  &__line--line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  &__line--line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

.open.menu .menu {
  &__list {
    height: 208px;
  }
}

