.posts {
  &__title {
    margin: 42px 0 23px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 385px);
    gap: 32px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, 550px);
    }
  }

  &__item {
    display: grid;

    &:last-child {
      display: none;
      @media (min-width: 768px) {
        display: grid;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 160px 1fr;
      grid-template-rows: 30px 20px 1fr;
      column-gap: 21px;
    }
  }
  @media (min-width: 768px) {
    picture{
      grid-row: span 3;
    }
  }

  &__img {
    width: 160px;
    height: 140px;
    margin-bottom: 11px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__subtitle {
    @extend .title;
    line-height: 30px;
    text-transform: none;
  }

  &__comments {
    font-size: 11px;
    line-height: 20px;
    color: $comment-color;

    @media (min-width: 768px) {
      font-size: 12px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 26px;
    color: $text-color;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

.last-shot {
  @media (min-width: 1200px) {
    height: 428px;
    background-color: rgba(0, 0, 0, 0.03);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 43px 0 13px;
    padding-top: 38px;
    @media (min-width: 768px) {
      margin: 60px 0 35px;
      padding-top: 43px;
    }
    @media (min-width: 1200px) {
      margin: 69px 0 24px;
      padding-top: 47px;
    }
  }

  &__link {
    @extend .title;
    font-size: 13px;
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  &__images {
    margin-left: 15px;
    margin-bottom: 42px;
    height: 301px;
    display: grid;
    justify-content: center;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, 301px);
    overflow-y: hidden;
    @media (min-width: 768px) {
      margin-left: 5px;
      margin-bottom: 50px;
      height: 250px;
      column-gap: 8px;
      grid-template-columns: repeat(auto-fit, 249px);
    }
    @media (min-width: 1200px) {
      column-gap: 10px;
      max-width: 1170px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, 285px);
      height: 285px;
    }
  }

  &__image {
    width: 301px;
    height: 301px;
    @media (min-width: 768px) {
      width: 249px;
      height: 250px;
    }
    @media (min-width: 1200px) {
      width: 285px;
      height: 285px;
    }
  }
}