//fonts
%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

//colors
$title-color: #4E4E4E;
$comment-color: #7C7C7C;
$text-color: #5C5C5C;
$footer-color: #B9B9B9;